<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>Remember-Please</title>
</head>
<body>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_-BWnb1ZkVFH6radPa0AAcG7CbE_ieG8&libraries=&v=weekly"></script>
<script src="/js/mapFunction.js"></script>

</body>
</html>